@model Planner.Models.Plan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningSong" class="control-label"></label>
                <input asp-for="OpeningSong" class="form-control" />
                <span asp-validation-for="OpeningSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label>
                <input asp-for="OpeningPrayer" class="form-control" />
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conducting" class="control-label"></label>
                <input asp-for="Conducting" class="form-control" />
                <span asp-validation-for="Conducting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <input asp-for="SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker1" class="control-label"></label>
                <input asp-for="Speaker1" class="form-control" />
                <span asp-validation-for="Speaker1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TalkTopic1" class="control-label"></label>
                <input asp-for="TalkTopic1" class="form-control" />
                <span asp-validation-for="TalkTopic1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker2" class="control-label"></label>
                <input asp-for="Speaker2" class="form-control" />
                <span asp-validation-for="Speaker2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TalkTopic2" class="control-label"></label>
                <input asp-for="TalkTopic2" class="form-control" />
                <span asp-validation-for="TalkTopic2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingSong" class="control-label"></label>
                <input asp-for="ClosingSong" class="form-control" />
                <span asp-validation-for="ClosingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
